{% macro render_tasks(tasks) %}


<table class="table w-75 table-bordered border border-4 text-center">
	<thead>
		<tr>
			<th scope="col">Title</th>
			<th>Category</th>
			<th>Priority</th>
			<th>Deadline</th>
			<th>Owner</th>
		</tr>
	</thead>
	<tbody>
		{% for task in tasks %}
		<tr>
			<th>
				<a href={{ url_for('todo.task', task_id=task.id) }}>
					{{task.title}}
				</a>
			</th>
			<td>{{task.category.name}}</td>
			<td>{{task.priority.name}}</td>
			<td>{{task.deadline}}</td>
			<td>
				<a href={{ url_for('todo.tasks', user_id=task.owner_id) }}>
					{{task.owner.username}}
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}