{% extends "base.html" %}
{% block title %}Social media{% endblock %}
{% block subtitle %}Social media{% endblock %}
{% block content %}
<div class="list-group text-center w-25 mt-4">
    <a href="https://github.com/Vekeryk" class="list-group-item list-group-item-action">
        Github
    </a>
    <a href="https://t.me/vekeryk" class="list-group-item list-group-item-action">
        Telegram
    </a>
    <a href="mailto: denys.vekeryk.20@pnu.edu.ua" class="list-group-item list-group-item-action">
        Email
    </a>
</div>
{% endblock %}